/* styles/globals.css */
.min-h-screen {
  min-height: 100vh;
  background-color: #ffffff; /* 修改页面背景颜色 */
}

.text-6xl {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #000000; /* 修改标题字体颜色 */
}

.input-bordered {
  border-width: 2px;
  border-color: #0000ff; /* 修改搜索框边框颜色 */
}

.btn-lg {
  background-color: #0000ff; /* 修改按钮背景颜色 */
  color: #ffffff; /* 修改按钮字体颜色 */
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

input {
  width: 100%;
  max-width: 32rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #0000ff; /* 焦点状态边框颜色 */
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3); /* 焦点状态阴影颜色 */
}

button {
  width: 100%;
  max-width: 32rem;
  padding: 0.75rem 0;
  font-size: 1.25rem;
  color: #fff;
  background-color: #0000ff;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0000cc; /* 鼠标悬停状态按钮颜色 */
}