body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.results-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch; /* 水平和垂直居中所有内容，并确保相同高度 */
  min-height: 80vh;
}

.results-left,
.results-right {
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* 确保内容垂直居中 */
  justify-content: center; /* 确保内容水平居中 */
  position: relative;
  flex: 1;
}

.loading-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  background-color: #007bff;
  border-radius: 10px;
  animation: loadingProgress 2s linear infinite;
}

@keyframes loadingProgress {
  0% { width: 0; }
  100% { width: 100%; }
}

.result-item {
  margin-bottom: 20px;
}

.footer-search {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.footer-search-input {
  width: 70%; /* 调整占比宽度 */
  padding: 15px;/* 设置较大的填充 */
  font-size: 24px; /* 增加字体大小 */
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
}

.footer-search-button {
  width: 60px;
  height: 60px;
  padding: 0; /* 移除内部填充 */
  display: flex;
  justify-content: center; /* 中心对齐按钮内容 */
  align-items: center;
  font-size: 24px; /* 增加字体大小 */
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  position: relative; /* 确保设置箭头的绝对定位 */
}

.footer-search-button:hover {
  background-color: #0056b3;
}

.footer-search-button::before {
  content: '';
  width: 20px;
  height: 20px;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(45deg);
  position: absolute; /* 确保箭头在按钮中心 */
}