body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  min-height: 80vh; /* 确保内容区域占满视口 */
  box-sizing: border-box;
}

.column {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 30%; /* 每个栏目最大比例 */
}

.column-center {
  flex: 2;
  max-width: 50%; /* 中心栏最大比例 */
}

.result-item {
  margin-bottom: 20px;
  text-align: left; /* 左对齐内容，提升阅读性 */
}

.result-title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-snippet {
  color: #666;
}

.loading-placeholder {
  text-align: center;
  font-size: 18px;
  color: #ffffff; /* 设置为纯白色 */
}

.loading-img {
  max-width: 100px; /* 设置预加载旋转图标的最大宽度 */
  animation: spin 2s linear infinite; /* 动画效果 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer-search-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-search-input {
  width: 100%; /* 扩展输入框接近整个搜索栏宽度 */
  height: 50px; /* 增加输入框高度 */
  padding: 10px 20px; /* 设置适中的内边距 */
  font-size: 18px; /* 增加字体大小 */
  border: 1px solid #ffffff; /* 设置为纯白色 */
  border-radius: 25px;
}

.footer-search-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: none;
  border-radius: 100%; /* 设置为圆形 */
  background-color: #38b2ac; /* 青蓝色 */
  color: white;
  cursor: pointer;
}

.footer-search-button:hover {
  background-color: #319795;
}

.footer-search-button i {
  font-size: 20px; /* 设置箭头图标大小 */
}