.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
  }
  
  .main {
    flex: 2;
    padding: 20px;
  }
  
  .resultItem {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .resultItem h3 {
    margin: 0;
    padding-bottom: 5px;
  }
  
  .resultItem p {
    margin: 0;
    color: #666;
  }